*,
*::before,
*::after {
    box-sizing: border-box;
}


.sidebar-container {
    height: 100%;
    padding-top: 180px;
    /* border-right: solid 2px rgb(194, 185, 185); */
}

.sidebar-ul {
    list-style: none;
}
.sidebar-li {
    padding-bottom: 15px;
}
.fancy-link{
    text-decoration: none !important;
    color: #69804e;
    position: relative;
    font-size: 1.2rem;
}
.fancy-link::after{
    content: "";
    position: absolute;
    left:0;
    /* bottom: 0; */
    top: -0.1rem;
    width: 100%;
    /* height: 2px; */
    height: 4px;
    background: currentColor;
    transform: scaleX(0);
    /* transform-origin: right;  */
    transform-origin: center; 
    transition: transform 250ms ease-in;
    color: #69804e;
}
.fancy-link:hover::after{
    transform: scaleX(1);
    /* transform-origin: left; */
    transform-origin: center;
    color: #69804e;
}

.fancy-link:hover {
    font-weight: bolder;
    color: #69804e;
}

@media screen and (max-width: 700px) {
    .sidebar-container{
        display: none;
    }
}